astroid==3.0.0
black==23.9.1
blosc==1.11.1
boto3==1.28.63
boto3-stubs==1.28.63
botocore==1.31.63
botocore-stubs==1.31.63
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
coverage==7.3.2
cycler==0.12.1
dill==0.3.7
flake8==6.1.0
fonttools==4.43.1
idna==3.4
isort==5.12.0
jmespath==1.0.1
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
lxml==4.9.3
matplotlib==3.8.0
mccabe==0.7.0
MetPy==1.5.1
mypy==1.6.0
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.2
Panda3D==1.10.13
pandas==2.1.1
pathspec==0.11.2
perlin-numpy @ git+https://github.com/pvigier/perlin-numpy@5e26837db14042e51166eb6cad4c0df2c1907016
Pillow==10.0.1
Pint==0.22
platformdirs==3.11.0
pooch==1.7.0
pycodestyle==2.11.1
pyflakes==3.1.0
pylint==3.0.1
PyMCubes==0.1.4
pyparsing==3.1.1
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
s3transfer==0.7.0
scipy==1.11.3
six==1.16.0
tomli==2.0.1
tomlkit==0.12.1
traitlets==5.11.2
types-awscrt==0.19.2
types-panda3d==0.3.3
types-requests==2.31.0.9
types-s3transfer==0.7.0
types-urllib3==1.26.25.14
typing_extensions==4.8.0
tzdata==2023.3
unittest-xml-reporting==3.2.0
urllib3==2.0.6
wrapt==1.15.0
xarray==2023.9.0
