name: Publish Test Results

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Verify"]
    types:
      - completed
permissions: {}

jobs:
  test-results:
    name: Publish Test Results
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion != 'skipped'

    permissions:
      checks: write
      pull-requests: write
      actions: read

    steps:
      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d
        with:
          run_id: ${{ github.event.workflow_run.id }}
          path: artifacts

      - name: Publish Unit Test Coverage
        uses: zgosalvez/github-actions-report-lcov@v4
        with:
          coverage-files: artifacts/reports/coverage.lcov
          artifact-name: code-coverage-report
          minimum-coverage: 0
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: "artifacts/reports/TEST-*.xml"